@import "tailwindcss";

:root {
  --background: #222531;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main: #393f58;
  --color-gray: #808080;
  --color-gray2: #cdc6c6;
  --color-red: #ea3943;
  --color-green: #16c784;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
